body {
    font-family: Arial, sans-serif;
    background-color: #406EF7;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background-color: #233f7f;
    padding: 10px;
    color: white;
    text-align: center;
}

.titulo
{
    background-color: #233f7f;
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 25px;
}

.contenedorcito
{
    background-color: #e0e9ff; 
}

.footer{
    background-color: #233f7f;
    height: 50px;
    margin-top: -10px;
}

.footer p{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

